*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.form-wrapper{
  background-color: #EDF5E1;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  margin-top: 10px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 1rem;
  padding: 5px;
  border: none;
}
input:focus{
  outline: none;
}

.submit-btn{
  background-color: #05386B;
  color: #EDF5E1;
  padding: 10px;
  border: none;
  cursor: pointer;
  border: #05386B 3px solid;
  transition: 0.3s;
}
.submit-btn:hover{
  color: #05386B;
  background-color: #EDF5E1;
}

.error{
  color: #b12432;
  background-color: #ffc8cd;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0 0 4px ;
  margin: 5px 0 10px 0;
  font-size: 0.7rem;
}
